<ion-view title="Friend Requests" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <h5 id="friendRequests-heading5" style="color:#8E8E93;" class=" ">FRIEND REQUESTS</h5>
        <ion-list id="friendRequests-list6" class=" ">
            <ion-item id="friendRequests-list-item4" class="  ">Item 1</ion-item>
            <ion-item id="friendRequests-list-item5" class="  ">Item 2</ion-item>
            <ion-item id="friendRequests-list-item6" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>