<ion-view title="JoinPassword" hide-nav-bar="true" id="page11" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 300px; height: 140px;"></div>
        <h3 id="joinPassword-heading4" style="color:#003153;font-weight:600;text-align:center;" class=" ">Create a Password</h3>
        <form id="joinPassword-form4" class="list ">
            <ion-list id="joinPassword-list4" class=" ">
                <label class="item item-input " id="joinPassword-input10">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <a ui-sref="tabsController.searchMovies" id="joinPassword-button8" class=" button button-positive  button-block ">Continue</a>
        </form>
    </ion-content>
</ion-view>