<ion-view title="JoinName" hide-nav-bar="true" id="page10" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 300px; height: 140px;"></div>
        <h3 id="joinName-heading3" style="color:#003153;font-weight:600;text-align:center;" class=" ">What's Your Name?</h3>
        <form id="joinName-form3" class="list ">
            <ion-list id="joinName-list3" class=" ">
                <label class="item item-input " id="joinName-input8">
                    <input type="text" placeholder="First name">
                </label>
                <label class="item item-input " id="joinName-input9">
                    <input type="text" placeholder="Last name">
                </label>
            </ion-list>
            <a ui-sref="joinPassword" id="joinName-button4" class=" button button-positive  button-block ">Continue</a>
        </form>
    </ion-content>
</ion-view>