<ion-view title="Login" hide-nav-bar="true" id="page7" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 300px; height: 78px;"></div>
        <div class="">
            <img src="img/2ADWCEuGTiyEl9mc6nUx_cinebuzz.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <form id="login-form1" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input1">
                    <input type="email" placeholder="Email or username">
                </label>
                <label class="item item-input " id="login-input2">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.searchMovies" id="login-button1" class=" button button-positive  button-block ">Log in</a>
            <a href="#" onclick="window.open('/joincinebuzz', '_system', 'location=yes'); return false;" id="login-button2" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>