<ion-view title="Profile" hide-nav-bar="true" id="page15" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h4 id="profile-heading6" style="color:#000000;font-weight:400;text-align:center;" class=" ">Member since May 21, 2016</h4>
        <h4 id="profile-heading7" style="color:#000000;font-weight:400;text-align:center;" class=" ">Name: Bob Waters</h4>
        <h4 id="profile-heading8" style="color:#000000;font-weight:400;text-align:center;" class=" ">Username: bwaters</h4>
        <form id="profile-form7" class="list ">
            <label class="item item-select " id="profile-select3">
                <span class="input-label"></span>
                <select>
                    <option>Computer Science</option>
                    <option>Electrical Engineering</option>
                    <option>Mechanical Engineering</option>
                    <option>Industrial and Systems Engineering</option>
                    <option>Mathematics</option>
                    <option>Physics</option>
                    <option>Chemistry</option>
                    <option>Chemical Engineering</option>
                </select>
            </label>
            <label class="item item-input " id="profile-input14">
                <input type="text" placeholder="Tell us a little bit about yourself.">
            </label>
            <button id="profile-button9" class=" button button-positive  button-block ">Save</button>
        </form>
    </ion-content>
</ion-view>